*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* --------NAV BAR----------- */
.nav{
    width: 100%;
    height: 100px;
    margin: 0,auto;
    
}
.nav .logo img{
    width: 100px;
    height: 100px;
}
.nav .links{
    float: right;
    margin-right: 20px;
}
.nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
    list-style: none;
}
.nav ul li a{
text-decoration: none;
color: aliceblue;
font-weight: bold;
padding: 0px 15px;
transition: 0.5s linear;
}
.nav ul li a:hover {
    color: black;
}

.checkbtn{
    color: aliceblue;
    font-size: 1.5rem;
    float: right;
    line-height: 80px;
    margin-left:70%;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* ----------END OF NAV---------- */

/* ------------MAIN---------- */
.main_part1{
    width: 550px;
    overflow: hidden;
    line-height: 100px;
    margin-top: 50px;
}

.main_part1 p{
    font-size: 100px;
    font-weight: bold;
    color: aliceblue;
    font-family: Monoton;
    text-align:left;
    
}
.main_part1 span{
    font-size: 90px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
  margin-left: 90px;
}
.main_btn{
padding-left: 10%;
   align-items: center;
   justify-content: center;
}
.main_btn button{
    width: 150px;
    height: 30px;
    background-color: #aa1114;
    color: aliceblue;
    border: none;
    border-radius: 10px;   
}
.main_btn button:hover{
background-color: black;
color: rgb(236, 198, 9);
transform: scale(1.1);
}

/* -------services--------- */

.services{
    margin-top: 25%;
    line-height: 30px;
    width: 100%;
}

.services h5{
    text-align: center;
   color: #aa1114;
   font-weight: bold;
}
.services h1{
    font-weight: bold;
    text-align: center;
}
.services_part1{
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 30px;

}
.services_part1 .col-4:hover{
    transform: scale(1.1);
    border-color: #aa1114;
}
.services_part1 .col-4{
    width: 300px;
    border:solid;
    border-width: 0.5px;
    border-color: rgb(230, 229, 229);
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.2);

}
.col-4 .service_image img{
    width: 295px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
.service_icons{
padding-left: 35%;
margin-top: -25px;
}
.service_icons img{
    width: 75px;
    height: 75px;
    border: solid;
    border-color: #aa1114;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.8);
}
.services_content h6{
    text-align: center;
    font-weight: bold;
}
.services_content ul li{
font-size: 12px;
}
.service_btn{
    display: grid;
    justify-content: center;
    align-items: center;
    }
.service_btn button{
    width: 150px;
    height: 30px;
    background-color:#aa1114;
    color: aliceblue;
    border: none;
}
.service_btn button:hover{
background-color: black;
}
/* ---------END SERVICES------- */

/* ---ABOUT-------- */

.about{ 
    margin-top: 120px;  
     display: flex;
    width: 100%;
    gap: 50px;
}
.about_part1{
    line-height: 30px;
    width: 30%;
}

.about_part1 h6{
    color: #aa1114;
    font-weight: bold;
}
.about_part1 h1{
    font-weight: bold;
}
.about_part1 p{
    text-align: justify;
    
}
.about_part2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
  
}
.about_part2 .img1 img{
    width: 250px;
    height: 230px;
    position: absolute;
    margin-top: -5%;
    margin-left: 5%;
}
.about_part2 .img2 img{
    width: 250px;
    height: 230px;
    position: absolute;
    
}
.about_part2 .img3{
    width: 250px;
    height: 230px;
    border: solid;
    border-width: 6px;
    border-color: #aa1114;
    position: absolute;
    margin-top: 17%;
    margin-left: 27%;
}
/* ----------end about-------- */

/* ----------case studies----------- */

.case{
    width: 100%;
    margin-top: 210px;
}
.case h6{
    text-align: center;
    color: #aa1114;
    font-weight: bold;
}
.case h2{
    text-align: center;
    line-height: 60px;
}
.col img{
    width: 200px;
    height: 230px;
}
.col p{
    text-align: center;
    font-weight: bold;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 300px;
    height: 300px;
        margin-left: 15px;
        position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom:  0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0 .4s ease-in-out; 
    background: black;
    cursor: pointer;   
    }
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(247, 243, 243);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    .col:hover .overlay{
        opacity: .8;
    }
    .content a{
        color: aliceblue;
    }
    .case_btn{
        display: grid;
        justify-content: center;
        align-items: center;
        
    }
    .case_btn button{
        width: 150px;
        height: 30px;
        background-color:#aa1114;
        color: aliceblue;
        border: none; 
        margin-top: 30%;
    }
    .case_btn button:hover{
        background-color: black;
        }

        /* ----------carosel----------- */

        .slider{
            height: 150px;
            margin: auto;
            position: relative;
            width: 90%;
            display: grid;
            place-items: center;
        }
        .slide_track{
            margin-top: 3%;
            display: flex;
            width: calc(150px * 18);
            animation:scroll 30s linear infinite;
        }
        .slide_track:hover{
            color: black;
            animation-play-state: paused;
        }
        
        @keyframes scroll {
            0%{
                transform: translateX(0);
            }
            100%{
                transform: translateX(calc(-250px*9));
            }
        }
        .slide{
            width: 150px;
            height: 150px;
            display:grid;
            place-items: center;
            padding: 15px;
            perspective: 100px;
        
        }
        .slide img{
            width: 100%;
            height: 100%;
            transition: transform 1s;
        }
        .slide img:hover{
            transform: translateZ(20px);
        }
        
        .slider::before,
        .slider::after{
            background: linear-gradient(to right, rgba(230, 5, 5, 0) 0% ,rgba(248, 6, 6, 0) 100% );
            height: 100%;
            position: absolute;
            width: 15%;
            z-index: 2;
        }
        .slider::before{
            left: 0;
            top: 0;
        }
        .slider::after{
        right: 0;
        top: 0;
        background: linear-gradient(to right, rgba(255 255 255 0) 0% ,rgba(255 255 255 0) 100% );
        transform: rotateZ(180deg);
        }

        .line{
            background-color: #aa1114;
            width: 100%;
            height: 2px;
            margin-top: 12%;
        }
        
       /* --------footer---------- */

 
.footer_main{
    /* border:solid #aa1114; */
    width: 100%;
 } 
.footer_sub{
    width: 100%;
   /* margin-top: 12%; */
   display: flex;
   gap: 25px;
}
.footercol p{
    font-size: 12px;
    text-align: justify;
     padding-left: 20px;
}
.footercol{
    padding-top: 5%;
   width:300px;
   color: rgb(8, 8, 8);
  
}
.footercol i{
    color: rgb(12, 12, 12);
    font-size: 20px;
    

}
.footercol i:hover{
    border: solid;
    border-radius: 50%;
    border-width: 1px;
    color: #aa1114
}
.footercol h6{
    text-align: left;
    color: rgb(11, 11, 11);
}
.footercol ul li{
    list-style: none;
    font-size: 12px;
    text-align: left;
}


.footercol img{
    width: 100px;
    height: 100px;
}        

        
/* --------------RESPONSIVE--------- */
@media (max-width:960px){
        .checkbtn{
        display: block;
    }
    .nav{
        width: 100%;
        height: 80px;  
    }
    .nav .logo img{
        width: 80px;
        height: 80px;
    }
    .links{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f54004;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    .nav ul li{
        display: block;
        margin: 50px;
        line-height: 3px;
    }
    .nav ul li a{
        font-size: 15px;
    }
    #check:checked~ul{
        left: 0;
    }
    .main_part1{
        width: 100%;
        margin-top: 30px;
        left: 0;
    }
    .main_part1 p{
        font-size: 50px;
        
    }
    .main_part1 span{
        font-size: 45px;
       
        margin-left: 0;
         }
         .services_part1{
            display:grid;
            gap: 15px;
            justify-content: center;
            align-items: center;
            
        }
        .about{   
             display: block;
            width: 100%;
        }
        .about_part1{
            width: 100%;
        }
        .about_part2{
            margin-top: 25%;
        }
        .about_part2 .img1 img{
            margin-top: -10%;
            margin-left: 10%;
        }
        .about_part2 .img3{
            margin-top: 20%;
            margin-left: 40%;
        }
        .case{
            width: 100%;
            margin-top: 250px;
        }
        .line{
            margin-top: 20%;
        }
        .footer_sub{
            display: inline-block;
        }
        


}